.menuLayout {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: repeat(4, auto);

    padding-inline: 5rem;
}

.menuLayout::before {
    grid-row-start: 2;
}

.logo {
    grid-row: 1 / 3;
    width: 90%;

    margin-bottom: 3rem;
}

.howToPlay {
    margin-bottom: 3rem;
    padding: 0.3em 2em;
    
    border-radius: 50px;
    text-decoration: none;
}

.playButton {
    width: 160%;
    margin-bottom: 3rem;
}

