.navBar {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 20% 1fr 20%;
}

.navBar h1 {
    font-size: var(--font-size-heading-xl);    
}

.backButton {
    margin-inline-end: auto;
    --circumferance: 110px;
    /* Percentage difference of the outer circle radius */
    --radius-difference: 0.04;

    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1;
    height: var(--circumferance);
    padding: calc(var(--circumferance) * 0.2);
    margin-left: calc(var(--circumferance) * var(--radius-difference));

    position: relative;
    z-index: auto;

    background: linear-gradient(#FE71FE, #7199FF);
    border-radius: 100%;
}

.backButton img {
    width: 100%;
    height: auto;

    position: relative;
    z-index: 2;
}

.backButton::after {
    content: ' ';
    background: linear-gradient(#752775, #7199FF);
    width: calc(100% + var(--radius-difference) * 2 * 100%);
    height: calc(100% + var(--radius-difference) * 2 * 100%);

    position: absolute;
    z-index: -1;
    top: 0;
    left: center;
    
    border-radius: 100%;

}