@font-face {
  font-family: "Mouse Memoirs Regular";
  src: url("fonts/MouseMemoirs-Regular.ttf");
}



/* Design system */
* {
  --color-dark-navy: hsl(250, 68, 27);
  --color-blue: hsl(223, 100, 57);
  --color-white: hsl(0, 0, 100);
}

html {
  --font-size-heading-xl: 8.5rem;
  --font-size-heading-l: 5.5rem;
  --font-size-heading-m: 3.0rem;
  --font-size-heading-s: 2.0rem;
  --font-size-body: 1.625rem;
}


/* General Styles */
.gradientText {
  background: linear-gradient(#67B6FF, white);
  background-clip: text;
  color: rgba(1, 1, 1, 0);
  
}
.borderText {
  -webkit-text-stroke: 0.01em black;
  color: white;
}

.buttonOne,
.buttonTwo {
  padding: 0.4rem 3rem;
  margin: 1px;
  border: none;
  border-radius: 2rem;

  font-family: inherit;
  font-size: var(--font-size-heading-s);
  color: white;
}

.buttonOne {
  background-color: #2463FF;
  box-shadow: inset 0px 2px #3C74FF,
              inset 1px -2px #140E66, 
              inset -1px -2px #140E66;
}

.buttonTwo {
  background: linear-gradient(#FE71FE, #7199FF);
  box-shadow: inset 0px 2px #C642FB,
              inset 1px -2px #140E66, 
              inset -1px -2px #140E66;
}

.buttonOne:hover, 
.buttonTwo:hover {
  filter: brightness(1.3);
  cursor: pointer;
}

.buttonOne:active,
.buttonTwo:active {
  filter: brightness(0.8);
  transform: scale(1, 0.94);
}

.menuBackground {
  position: relative;
}

.menuBackground::before {
  position: absolute;
  z-index: -1;

  content: " ";
  width: 100%;
  height: 100%;
  
  background: linear-gradient(#344ABA, #001479);
  opacity: 70%;
  border-radius: 2rem;

  box-shadow: 
    inset 0 4px 0 4px #3C74FF,
    inset 0 -4px 0 5px #140E66;
    
}


/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100vh;

  background-image: url("images/background-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Mouse Memoirs Regular";
  font-size: var(--font-size-body);
}


@media only screen and (max-width: 425px) {
  body {
    background-image: url("images/background-mobile.svg");
  }
}

@media only screen and (max-width: 1024px) {
  body {
    background-image: url("images/background-tablet.svg");
  }
}