@font-face {
  font-family: "Mouse Memoirs Regular";
  src: url("fonts/MouseMemoirs-Regular.ttf");
}



/* Design system */
* {
  --color-dark-navy: hsl(250, 68, 27);
  --color-blue: hsl(223, 100, 57);
  --color-white: hsl(0, 0, 100);
}

html {
  --font-size-heading-xl: 8.5rem;
  --font-size-heading-l: 5.5rem;
  --font-size-heading-m: 3.0rem;
  --font-size-heading-s: 2.0rem;
  --font-size-body: 1.625rem;
}


/* General Styles */
.gradientText {
  background: linear-gradient(#67B6FF, white);
  background-clip: text;
  color: rgba(1, 1, 1, 0);
  
}
.borderText {
  -webkit-text-stroke: 0.01em black;
  color: white;
}


/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100vh;

  background-image: url("images/background-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Mouse Memoirs Regular";
  font-size: var(--font-size-body);
}


@media only screen and (max-width: 425px) {
  body {
    background-image: url("images/background-mobile.svg");
  }
}

@media only screen and (max-width: 1024px) {
  body {
    background-image: url("images/background-tablet.svg");
  }
}